header {
    text-align: left;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ece8e1;
    margin: 0;
    padding: 0;
    overflow: overlay;
}

/*Text Formats*/
h1.titles {
    font-weight: 1000;
    font-size: 100%;    
}

hr.titles {
    width: 25%;
    margin: 0 auto;
}

p {
    font-size: 15px;
    margin: 20px;
}
/*End*/

/*Logo Format*/
img.logo {
    width: 252px;
    height: 80px;
}

img.logo.homepage {
    position: relative;
    left: 40%;
}

img.logo.other {
    position: relative;
    left: 5%;
}

/*Thumbnails*/
img.others {
    transform: skewX(-10deg);
    width: 70%;
    height: 40%;
}

/*Navigation Bar*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

div.nav {
    float: left;
    border-right: 1px solid #ece8e1;
    position: relative;
}

div.nav a {
    display: block;
    padding: 14px 16px;
    color: #ece8e1;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    min-width: 150px;
}

div.nav a:hover {
    background-color: #000070;
}
/*End*/

/*Listing Items or Images*/
ul.listings { 
    list-style-type: none;
}

div.items {
    float: left;
    text-align: center;
    position: relative;
    padding-left: 50px;
    left: 20%;
}


/*Custom format for map display*/
ul.listings.four div.map {
    padding-bottom: 30px;
}

ul.listings.four div.map img {
    padding-left: 20px;
}
/*End*/

/*Dropdown Menu*/
div.DropdownMenu {
display: none;
position: fixed;
background-color: #ece8e1;
min-width: 150px;
z-index: 1;
}


div.DropdownMenu a {
color: black;
padding: 14px 18px;
display: block;
}
  
div.DropdownMenu a:hover {
    background-color: #fff;
}

div:hover div.DropdownMenu {
    display: block;
}
/*End*/

/*Custom Scrollbar*/
::-webkit-scrollbar{
    width: 11px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
    background-color: lightgray;
}
/*End*/